@import-normalize;
@import "./styles/animation";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-text-primary;
  height: 100%;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
