name: CI

on: [push, pull_request]

jobs:
  packages:
    name: Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - run: npm ci
  genApi:
    name: Generate APIs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run gen-api
      - uses: actions/upload-artifact@v1
        with:
          name: apis
          path: ./src/lib/apis/generated
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [packages, genApi]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - run: npm ci
      - uses: actions/download-artifact@v1
        with:
          name: apis
          path: ./src/lib/apis/generated
      - run: npm run build
        env:
          NODE_ENV: production
  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [packages, genApi]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - run: npm ci
      - uses: actions/download-artifact@v1
        with:
          name: apis
          path: ./src/lib/apis/generated
      - run: npm run lint
  typeCheck:
    name: Type Check
    runs-on: ubuntu-latest
    needs: [packages, genApi]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - run: npm ci
      - uses: actions/download-artifact@v1
        with:
          name: apis
          path: ./src/lib/apis/generated
      - run: npm run type-check
