on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  packages:
    name: Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: npm
      - run: npm ci
  genApi:
    name: Generate APIs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: npm
      - run: npm ci
      - run: npm run gen-api
      - uses: actions/upload-artifact@v2
        with:
          name: apis
          path: ./src/lib/apis/generated
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [packages, genApi]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: npm
      - run: npm ci
      - uses: actions/download-artifact@v2
        with:
          name: apis
          path: ./src/lib/apis/generated
      - run: npm run build
        env:
          NODE_ENV: production
  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [packages, genApi]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: npm
      - run: npm ci
      - uses: actions/download-artifact@v2
        with:
          name: apis
          path: ./src/lib/apis/generated
      - run: npm run lint -- --max-warnings=0
  typeCheck:
    name: Type Check
    runs-on: ubuntu-latest
    needs: [packages, genApi]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: npm
      - run: npm ci
      - uses: actions/download-artifact@v2
        with:
          name: apis
          path: ./src/lib/apis/generated
      - run: npm run type-check
